ZAI_TOKEN=
ZAI_MODEL=GLM-5-Turbo
ZAI_FE_VERSION=prod-fe-1.1.2
ZAI_PROXY_API_KEY=
PROXY_BEARER_TOKEN=
ZAI_DELETE_CHAT_AFTER_RESPONSE=true
ZAI_MIN_REQUEST_INTERVAL_MS=2000
ZAI_ENABLE_THINKING=false
ZAI_AUTO_WEB_SEARCH=false
ZAI_USER_NAME=
ZAI_USER_LOCATION=Unknown
ZAI_CONTEXT_TIMEZONE=Europe/Istanbul
HOST=0.0.0.0
PORT=8000
