ZAI_TOKEN=
ZAI_MODEL=GLM-5-Turbo
ZAI_FE_VERSION=prod-fe-1.1.2
ZAI_PROXY_API_KEY=
PROXY_BEARER_TOKEN=
ZAI_DELETE_CHAT_AFTER_RESPONSE=true
ZAI_MIN_REQUEST_INTERVAL_MS=2000
ZAI_ENABLE_THINKING=false
ZAI_AUTO_WEB_SEARCH=false
ZAI_USER_NAME=
ZAI_USER_LOCATION=Unknown
ZAI_CONTEXT_TIMEZONE=Europe/Istanbul
DEEPSEEK_TOKEN=
DEEPSEEK_COOKIE=
DEEPSEEK_MODEL=default
DEEPSEEK_DELETE_CHAT_AFTER_RESPONSE=true
DEEPSEEK_MIN_REQUEST_INTERVAL_MS=500
DEEPSEEK_THINKING_ENABLED=true
DEEPSEEK_SEARCH_ENABLED=false
DEEPSEEK_CLIENT_VERSION=1.8.0
DEEPSEEK_APP_VERSION=20241129.1
HOST=0.0.0.0
PORT=8000
